name: CI

on:
    workflow_dispatch:
    push:
        branches: ["main","fix-workflow"]
    pull_request:
        branches: ["main"]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
        echo "Hello World"

     